
.header-section {
    display: flex;    
}

.header-content-text {
    flex:1; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:  column;
    margin-right: 5rem;
}

.header-content-text h1 {
    font-family: var(--font-primary); 
    font-weight: 900;
    color: var(--color-purple);
    font-size: 50px;
}

.header-content-text p {
    color:#81AFDD;
    font-size: 20px;
    max-width: 900px;
}


.header-content-button button {
    background:var(--gradient-button);
    border-radius: 10px;
    min-height: 40px;
    min-width: 200px;
    font-family: var(--font-family);

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color:white;
    cursor: pointer;
    outline:none;
    border:none;
    margin-top: 10px;
}


@media screen and (max-width: 600px){

    .header-content-text h1 {
        font-size: 40px;
    }

    .header-content-text p {
        font-size: 15px;
        max-width: 900px;
    }
    
}