

.header-navbar {
    height:fit-content;
    padding:2rem ;
    width: 100%;
    max-height:50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    top:0;
    background: rgba(4, 4, 16, 0.764);
    z-index: 100;
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
   /*husk å fjerne elementer med height: for sticky navbar*/
}


.navbar-main-logo{
    display: flex;
    align-self:  left;
    font-size: 15px;
    
    

}
.nav::before{
    color: #727376;
    display: block;
    font-size: .75rem;
    width: 100%;
}
.nav::after{
    color: #727376;
    display: block;
    font-size: .75rem;
    width: 100%;
}

.header-navbar-div {
    flex: 1;
    display: flex;
    justify-content: center;
    top:0;

  
}


.header-menu-list{
    display: flex;
    flex-direction: row;
    list-style-type: none ;
    align-items: center;
}
.navbar-redirect-container {
    
    display: flex;
    justify-content: space-between;

    flex-direction: row;

   box-sizing: border-box;
   padding:0rem 2rem;
}


.header-contacs-img {
    height: 50px;
    width: 50px;
  

}

.header-menu-logo{
    height: 28px;
    width: 28px;
}

.header-menu-navbar-list{

    background:  rgba(2,30,73,1);
    flex-direction: column;
    list-style-type: none;
 
 
    
   
    position:absolute;
    top:30px; 
    right: 0;
    min-width: 130px;
    border-radius: 5px;
    margin-top: 1rem;
    min-width: 210;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);

}

.header-menu-navbar-list a{
    color:white;
    text-decoration: none;
    align-items: center;
    
 
}



 .navbar-redirect-container a {
    align-items: center;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    /*background-image: radial-gradient(100rem circle at var(--mouse-x) var(--mouse-y),var(--color-lightblue ), rgb(4, 4, 16) 25%);*/
    border-radius: 4px;
    border-width:2px;
    display: flex;
    height: calc(100% - 0.1rem);
    border-color: var(--color-lightblue);
    border-style: solid;
    
    height: 2rem;
    width: 10rem;
    justify-content: center;
    position: relative;
    text-align: center;
    gap:20px 200px ;
    
    transition: all .25s;
 
  

    
}

.navbar


.navbar-redirect-container p {
    display: flex;
    justify-content: flex-end;
    
    
}

.navbar-redirect-container a {
    color:white;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    margin-right: 1rem;
    
    cursor: pointer;
    text-decoration: none;
    font-family:var(--font-family);
    
    
}

.navbar-menu-container-redirects a {

    color:white;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    text-transform: capitalize;
    font-family:var(--font-family);
    align-items: end;
    cursor: pointer;
    text-decoration: none;

}

.navbar-menu {

   position:relative;
   margin-left: 1rem;
  
   display: none;

}

.navbar-menu-container {
    
    background:  rgba(2,30,73,1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align:end;
    padding:2rem;
    position: absolute;
    top: 15px;
    right:0; 
    
    margin-top: 1rem;
    min-width: 250px;
    border-radius: 2px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);

}

@media screen and (max-width: 850px){
    
    .navbar-redirect-container{
        display:none ;
    }
   
    .navbar-menu {
        display: flex;
    }

}



@media screen and (min-width: 850px){
    
    .header-navbar{
        padding: 2rem 6rem;
        

    }

   
}