.canvas-box{

  min-height: 300px;
   


}

.myCanvas {
  width: 600px;
  height: 600px;
  font-family: var(--font-primary);
}

.canvas-container a {
  color:aquamarine;
 
 
}
.test {

    min-height: 200px;
    position: absolute;
}