.canvas-box{
  min-height: 300px;
}


.skill-sphere h1 {
  align-items: left;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size:25px;
  line-height: 24px;
  color:#81AFDD; 
}

.myCanvas {
  width: 550px;
  height: 550px;
  font-family: var(--font-primary);
}

.canvas-container a {
  color:aquamarine;
 
 
}
.test {

    min-height: 200px;
    position: absolute;
}

.skill-box{
  display: none;
}


@media screen and (max-width: 900px){
    
  .skill-box{
      display:flex;
  }
 
  
  

}