

.contacts-container {
    top:0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:2rem;
   
    align-items: center;
    gap: 0 150px;
    justify-content: center;

}


.contacts-list-container{
    list-style-type: none;
    align-items:center;
    margin-top: 20px;
    
}
.contacts-header h1 {
    font-size:50px;
    line-height: 70px;
    font-weight: 800;
    padding-bottom: 75px;

    font-family: var(--font-primary);
   


}



.contacts-list-container img {

    width: 50px;
    height: 50px;
    float: left;
    background-size: cover;
    
}
.contacts-list-container a:last-child{
    
}

.contacts-list-container a {

    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    text-decoration: none;
    overflow: hidden;
}
.contacts-list-container p {
    padding-top:10px;  
    font-size: 25px;
   
   
}

.contacts-list-container{
    font-size: 200px;
    
}

.contacts-list-container a:hover {

    text-decoration: underline;
    text-decoration-color: white ;
}

 @media screen and (max-width: 900px){

    .contacts-container{
        flex-direction: column;
        gap:0;
        font-size: 20px;
     align-items: start;
    }



 }